@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

:root {
  --primary: #F16835;
  --black: #362E2C;
  --Bg: #F7F6F1;
  --Grey: #C5C5C5;
  --white: #FFF
}


body {
  background: url("../assets/img/mainbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.supportpage {
  background: url("../assets/img/supportbg.png") !important;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.navbar {
  padding: 30px 110px;
  background: var(--Bg);
  flex-wrap: nowrap;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
}

.nav-link {
  display: contents;
  color: #353F4B !important;
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 128%; /* 30.72px */
}

.nav-btn {
  border-radius: 100px;
  background: var(--primary);
  display: flex;
  padding: 13px 24px;
  align-items: center;
  gap: 10px;
  font-family: 'Gilroy-Bold', sans-serif;
  color: #FFF;
  font-size: 22.149px;
  font-weight: 700;
  margin-left: 60px;
}

.cst-btn {
  border-radius: 100px;
  background: var(--primary);
  display: flex;
  padding: 13px 24px;
  align-items: center;
  gap: 10px;
  font-family: 'Gilroy-Bold', sans-serif;
  color: #FFF;
  font-size: 22.149px;
  font-weight: 700;
}

.navbar-light .navbar-toggler-icon {
  border-color: #FFF !important;
  padding: 0px;
}

.wrapper {
  padding: 15px 130px;
  min-height: 80vh;
}

.title {
  color: var(--black);
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 92px;
}

.wrapper-text {
  color: var(--black);
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 26px;
  font-weight: 500;
}

.custom-btn {
  display: flex;
  padding: 32px;
  justify-content: center;
  align-items: center;
  border: 1px solid #B8B8B8;
  color: var(--black);
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 30.54px;
  font-weight: 400;
}

.custom-btn.active {
  border: 1px solid var(--primary);
  background: var(--primary);
  color: var(--white);
}

.form-label {
  color: var(--black);
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.form-control {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: var(--black) !important;
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 30.54px;
  font-weight: 400;
  border-bottom: 1px solid #B8B8B8 !important;

  &::placeholder {
  color: var(--black) !important;
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 30.54px;
  font-weight: 400;
  }
}

.agreement-text {
  color: #362E2C;
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 143.5%; /* 34.44px */
}

.agreement-text span {
  color: var(--primary) !important;
  cursor: pointer;
}


.checkbox {
  height: 30px;
  width: 30px;
}

.checkbox:checked {
  background: var(--black) !important;
}

.nav-btn.large {
  font-size: 31.203px;
}

.modal-content {
  padding: 60px 35px;
}

.modal-title {
  color: #000;
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.modal-body p {
  color: #000;
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 26px;
  font-weight: 400;
}

.modal-form {
  border: 1px solid #B8B8B8;
  padding: 40px 25px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.modal-form .form-control {
  color: #A7A6A4;
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 18px;
  font-weight: 500;

  &::placeholder {
    color: #A7A6A4 !important;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
}

.form-p {
  color: #A7A6A4 !important;
  font-family: 'Gilroy-Medium', sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

#cvv::-webkit-input-placeholder::before { 
  content: ' ';
  position: absolute;
  top: 2px; /* adjust icon position */
  left: 0px;
  width: 14px; /* size of a single icon */
  height: 14px;
  background-image: url("../assets/img/cvv.png"); /* all icons in a single file */
  background-repeat: no-repeat;
  background-position: -48px 0px; /* position of the right icon */
}

.navbar-toggler img {
  max-width: 100%;
  height: auto;
}

.custom-navbar {
  background: var(--primary);
  padding: 35px 135px;
}

.custom-navbar .nav-item {
  display: inline-flex;
  align-items: center;
  color: var(--white);
  text-align: center;
  font-family: 'Gilroy-Medium';
  font-size: 33.4px;
  font-weight: 600;
}

.custom-navbar .nav-item svg {
  margin-right: -24px;
}

#thankspage .title {
  color: var(--black);
  text-align: center;

  /* H3 */
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 58px; /* 120.833% */
  margin-bottom: 17px;
}

#thankspage .subtitle {
  color: var(--black);
  text-align: center;

  /* body2 */
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 134%; /* 29.48px */
  margin-bottom: 10px;
}

.telmail-data {
  color: var(--black);

  /* Body Desktop2 */
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.3px;
}

.telmail-data span {
  font-family: 'Manrope', sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 120%; /* 26.4px */
}

.add-data {
  color: var(--black);
  
  /* Body Desktop4 */
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.social-media-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

.contacts-p {
  color: var(--black);
  font-family: 'Gilroy-Medium';
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}

.contacts-row {
  display: flex;
  flex-direction: row;
}

.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.wrapper-more-service {
  padding: 40px 135px;
}

.title-service {
  color: var(--primary);
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px; /* 118.75% */
}

.card-title {
  color: #362E2C;
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px; /* 109.091% */
}

.thanks-footer {
  background: url("../assets/img/mainbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 65px 135px;

}

.line {
  height: 4px;
  stroke-width: 4px;
  width: 100%; /* Set initial width */
  background-color: #C5C5C5; /* Initial background color */
  position: relative;
  overflow: hidden;
}

.line::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #F16835; /* Color to animate to */
  left: -100%;
  top: 0;
  animation: fillLine 3s infinite linear;
}

@keyframes fillLine {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}



.footer-text {
  color: var(--black);
  text-align: justify;
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
}


#articlespage .breadcrumb-item, a {
  color: #8F8A87;
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  text-decoration: none;
  margin-bottom: 50px;
}

.news-title {
  color: var(--black);
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 45px; /* 93.75% */
  margin-bottom: 16px;
}

.news-text {
  color: var(--black);
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 107.692% */
  margin-bottom: 16px;
}

.news-date {
  color: #8F8A87;

  /* body3 */
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 135%; /* 27px */
}

.news-arrow {
  cursor: pointer;
}

.footer {
  flex-shrink: 0;
  background: #362E2C;
  padding: 35px 110px;
}

.footer-title {
  color: #FFF;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
}

.footer-contacts p, .footer-link {
  color: #FFF;
  font-feature-settings: 'calt' off;
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

.footer .end-text {
  color: rgba(255, 255, 255, 0.28);
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
}

.footer-left-block {
  display: flex;
  flex-direction: row;
}

#article1page .container-article {
  padding: 70px 130px;
}

#article1page .article-date {
  color: var(--black, #362E2C);
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 40.819px; /* 226.772% */
  letter-spacing: -0.27px;
} 

#article1page .article-title {
  color: var(--black);
  font-variant-numeric: slashed-zero;
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 58px;
  font-weight: 500;
  line-height: 110%; /* 63.8px */
  letter-spacing: -0.241px;
  margin-top: 25px;
}

#article1page .article-content {
  margin-top: 80px;
}

#article1page .article-text {
  color: var(--black);
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
}

#article1page .article-text a {
  color: var(--black);
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  text-decoration: underline;
}

#servicespage .service-title {
  color: var(--black);
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 48px;
  font-weight: 500;
}

#servicespage .service-row {
  margin-bottom: 150px;
}

#indexpage .title {
  margin-bottom: 0;
}

#indexpage .subtitle {
  color: var(--black);
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 135%; /* 35.1px */
}

#indexpage #aboutus .title-h2 {
  color: var(--black);
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 48px;
  font-weight: 500;
}

#indexpage #aboutus .wrapper-text {
  line-height: 32px; /* 123.077% */
}


.title-h2 {
  color: var(--black);
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 44px;
  font-weight: 500;
}

.arrows {
  display: flex;
  gap: 36px;
}

.service-card-title {
  color: #362E2C;
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 46.8px */
}

#ourservice .line {
  margin-top: 70px;
}

.divider-contact {
  display: flex;
  padding: 100px 272px;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.60);
}

.divider-text {
  color: #362E2C;
  /* h2 */
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 58px;
  font-weight: 600;
  line-height: 70px;
}

.divider-text span {
  color: var(--primary)
}

.divider-row {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.divider-contact .cst-btn {
  padding: 20px 40px;
}

#aboutus, #support, #team, #shefstvo, #help, #articles, #whyimportant, #smi, #partners, #ourservice, #prepare, #zayavka, #room {
  padding-top: 135px;
}

#support .support-text {
  color: #000;
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 120%; /* 48px */
}

#support .support-title {
  color: var(--primary);
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 134%; /* 67px */
}

#support .video-container {
  background: #9F9F9F;
  height: 455px;
}

#support .video-title {
  color: #000;
  /* h4 */
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px; /* 118.75% */
}

#support .cst-btn {
  margin-top: 110px;
}

#team .subtitle {
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 90px;
}

.title-h5 {
  color: #362E2C;

  /* h5 */
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px; /* 118.182% */
}

.more-shefstvo {
  gap: 16px;
}

.more-shefstvo-text {
  color: var(--primary, #F16835);
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 22px;
  font-weight: 500;
}

#help .cst-btn {
  margin-top: 20px;
}

.more-articles {
  color: #362E2C;
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.more-articles.aboutus {
  margin-top: 130px;
}

.article-subtitle {
  color: #362E2C;

  /* body3 */
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 135%; /* 27px */
}

.subtitle-h2 {
  color: var(--black);
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 150%; /* 33px */
}

.about-block {
  background: var(--Grey);
}

.bignumber {
  color: var(--black);
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 120px;
  font-weight: 400;
}

.smalltext {
  color: var(--black);
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 25.833px;
  font-weight: 400;
}

.subtitle-h5 {
  color: var(--black);
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.aboutus-divider-contact {
  background: var(--white);
  padding: 50px 142px 120px 142px;
  margin-top: 135px;

}


.title-rates {
  color: var(--black);
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 134.236%; /* 40.271px */
}

.subtitle-a {
  text-decoration: underline;
  text-decoration-color: var(--primary);
}

.collapse-text {
  color: var(--black);
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.service-text {
  color: #8F8A87;
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 26px;
  font-weight: 500;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

#prepare {
  margin-bottom: 135px;
}

.prepare-line {
  height: 2px;
  stroke-width: 1px;
  stroke: var(--Grey);
  background: var(--Grey);
}

.prepare-text {
  color: var(--black);
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-top: 100px;
}

#perevozka {
  margin-top: 100px;
}

.zayavka-container {
  background: var(--white);
  padding: 100px 80px;
}



.form-check-text {
  color: var(--black);
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 143.5%; /* 34.44px */
}

.form-bottom-row {
  margin-top: 80px;
}

.zayavka-container-accepted .title {
  color: var(--primary);
}

.zayavka-container-accepted {
  background: var(--white);
  padding: 140px 120px;
}

.title-h4 {
  color: var(--black);
  /* h4 */
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px; /* 118.75% */
}

.tab-panel-title {
  color: var(--black);
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 34px;
  font-weight: 500;
  cursor: pointer;
}

.tab-panel-number {
  color: var(--black);
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}

.tab-panel-number.active {
  color: var(--primary);
}

.tab-panel-title.active {
  color: var(--primary);
}

.row-room {
  margin-bottom: 80px;
}

.pagination {
  justify-content: start; 
  gap: 16px;
}

.page-link {
  color: var(--primary); 
  background-color: transparent;
  border: none;
  text-align: center;
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.page-link:hover {
  color: var(--white);
  background-color: var(--primary);
  border: none;
  border-radius: 50%; 
  width: 32px; 
  height: 32px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-item.active .page-link {
  background-color: var(--primary);
  color: white; 
  border-radius: 50%; 
  width: 32px; 
  height: 32px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-next .page-link {
  background: none;
  color: var(--black);
}

.pagination-next .page-link:hover {
  color: var(--primary);
  border: none;
  width: auto;
  height: auto;
  background: none;
}

.btn-play {
  position: relative;
  width: 89px;
  height: 89px;
  background-color: transparent;
  border: none;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.btn-play::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 0.3s ease-out;
}

.btn-play:hover::before {
  border-color: #F16835;
  animation: drawBorder 2s ease-in-out infinite;
}

@keyframes drawBorder {
  0%, 100% {
    border-color: #F16835;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    border-right-color: #F16835;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    border-right-color: #F16835;
    border-bottom-color: #F16835;
    border-left-color: transparent;
  }
  75% {
    border-right-color: #F16835;
    border-bottom-color: #F16835;
    border-left-color: #F16835;
  }
}

.btn-play svg {
  z-index: 1;
}

@media (max-width: 768px) {
  .navbar {
    padding: 15px 20px;
    display: flex;
    justify-content: flex-end !important;
  }

  .navbar .container-fluid {
    justify-content: flex-end !important;
  }

  .navbar-toggler {
    order: 1;
  }

  .navbar-collapse {
    order: 2;
  }
  
  .nav-btn {
    padding: 7.111px 18.962px;
    margin-right: 15px;
    font-size: 18.962px;
    gap: 0px;
  }

  .cst-btn {
    padding: 7.111px 18.962px;
    margin-right: 15px;
    font-size: 18.962px;
    gap: 0px;
  }

  .wrapper {
    padding: 40px 20px !important;
  }

  .title {
    font-size: 36px;
    margin-bottom: 32px;
  }

  .wrapper-text {
    font-size: 16px;
  }

  .custom-btn {
    font-size: 18px;
    padding: 9px 34px;
  }

  .form-label {
    font-size: 14px;
  }

  .form-control {
    font-size: 18px;

    &&::placeholder {
      font-size: 18px;
    }
  }

  .agreement-text {
    font-size: 16px;
  }

  .checkbox {
    width: 19.2px;
    height: 19.2px;
  }

  .nav-btn.large {
    font-size: 18px;
  }

  .modal-dialog {
    width: 100%;
    margin: 0;
  }

  .modal-content {
    padding: 30px 10px
  }

  .modal-body p {
    font-size: 18px;
  }

  .modal-form .form-control {
    font-size: 16px;
  }

  .form-p {
    font-size: 12px !important;
  }

  #supportpage .nav-btn {
    display: none !important;
  }

  .menu-icon {
    width: 50px !important;
    height: 30px !important;
  }

  .navbar-toggler {
    margin-right: 0px !important;
  }

  .custom-navbar .container-fluid {
    align-items: center !important;
    justify-content: center !important;
  }

  .custom-navbar .nav-item {
    font-size: 18px;
  }
  
  #thankspage .title {
    color: #362E2C;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 128%; /* 30.72px */
  }

  #thankspage .subtitle {
    color: #362E2C;
    text-align: center;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    letter-spacing: -0.24px;
  }

  .tel-mail {
    margin-top: 32px !important;
  }

  .telmail-data {
    color: #362E2C;

    /* H6 mob */
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px; /* 135.714% */
  }
  
  .telmail-data span {
    color: #362E2C;

    /* Body mob2 */
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
  }

  .add-data {
    color: #362E2C;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 400;
  }

  .social-media .telmail-data span {
    color: #362E2C;
    font-variant-numeric: slashed-zero;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    letter-spacing: -0.091px;
  }

  .contacts .telmail-data span {
    color: #362E2C;
    font-variant-numeric: slashed-zero;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    letter-spacing: -0.091px;
  }

  .contact-item {
    margin-bottom: 16px;
  }

  .wrapper-more-service {
    padding: 24px 35px;
  }

  .line {
    display: none !important;
  }

  .thanks-footer {
    padding: 35px 60px;
  }

  #articlespage .breadcrumb-item, a {
    margin-bottom: 32px;
  }
  
  .news-item {
    display: none !important;
  }

  .news-item-mobile {
    display: block !important;
  }

  .news-title {
    font-size: 16px;
    line-height: 18px; /* 112.5% */
    margin-bottom: 8px;
  }

  .news-text {
    display: none;
  }

  .news-date {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%; /* 21px */
  }

  .news-image {
    display: none;
  }

  #articlespage .line {
    display: flex !important ;
  }

  .footer {
    background: #362E2C;
    padding: 27px 25px;
  }

  .footer-title {
    font-size: 18px;
  }

  .footer-row-desktop {
    display: none !important;
  }

  .footer-row-mobile {
    display: flex !important;
  }

  .footer-contacts {
    font-size: 14px;
    line-height: 160%; /* 22.4px */
  }

  .footer-contacts h1 {
    color: var(--white);
    font-feature-settings: 'calt' off;
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
  }

  .social-media-row svg {
    width: 24px;
    height: 24px;
  }

  .footer-link a {
    color: var(--white, #FFF);
    font-feature-settings: 'calt' off;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
  }
  
  .end-text {
    color: #726D6B;
  }
  
  .news-arrow svg {
    width: 24px;
    height: 24px;
  }

  #article1page .container-article {
    padding: 0px;
  }
  
  #article1page .article-date {
    font-size: 14px;
    line-height: 130%; /* 18.2px */
  } 
  
  #article1page .article-title {
    font-size: 20px;
  }
  
  #article1page .article-content {
    margin-top: 40px;
  }
  
  #article1page .article-text {
    font-size: 16px;
  }
  
  #article1page .article-text a {
    font-size: 16px;
  }
  
  #servicespage .service-title {
    font-size: 22px;
  }

  #servicespage .line {
    display: flex !important ;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
  }

  #servicespage .service-row {
    margin-bottom: 40px;
  }

  #aboutus, #support, #team, #shefstvo, #help, #articles, #whyimportant, #smi, #partners, #ourservice, #prepare, #zayavka, #room {
    padding-top: 75px;
  }
  

  .aboutusintro {
    display: none;
  }

  .aboutusintromobile {
    display: block !important;
  }

  .aboutusintromobile-title {
    color: var(--black);
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  .subtitle-h2 {
    font-size: 16px;
  }

  .bignumber {
    font-size: 47px;
  }

  .smalltext {
    font-size: 14px;
  }

  .title-h2 {
    font-size: 26px;
  }

  .title-h5 {
    font-size: 14px;
  }

  .subtitle-h5 {
    font-size: 14px;
  }

  .team {
    display: none;
  }

  .teammobile {
    display: block !important;
  }

  .team-show {
    color: var(--black);
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: var(--primary);
  }

  .aboutus-divider-contact {
    padding: 20px;
  }

  .divider-text {
    font-size: 26px;
    line-height: normal;
  }

  .divider-row {
    flex-direction: column;
    gap: 20px;
  }

  .more-articles-div {
    display: none;
  }

  .full-rate {
    display: flex;
    justify-content: center;
  }

  .more-articles.first {
    display: none !important;
  }
  
  .service-img {
    display: none !important;
  }

  .collapse-text {
    font-size: 16px;
  }

  .price-row {
    display: none;
  }

  .service-text {
    display: block !important;
    font-size: 18px;
  }

  .price-desktop {
    display: none !important;
  }

  .price-mobile {
    display: block !important;
  }

  .collapse-text.price {
    color: var(--primary);
  }

  .prepare-img {
    display: none;
  }

  ol {
    margin-top: 1rem;
  }

  .prepare-text, .prepare-btn {
    display: none;
  }

  #prepare {
    margin-bottom: 40px;
  }

  .tab-panel-title {
    font-size: 17px;
  }

  .tab-panel-number {
    font-size: 10px;
  }

  .rooms.desktop {
    display: none;
  }

  .rooms.mobile {
    display: block !important;
  }

  .title-h4 {
    font-size: 18px;
  }

  .row-room {
    margin-bottom: 60px;
  }

  #perevozka {
    margin-top: 32px;
  }

  .perevozka-desktop {
    display: none !important; 
  }

  .perevozka-mobile {
    display: block !important;
  }

  .zayavka-container {
    padding: 32px 20px;
  }

  .form-bottom-row {
    margin-top: 40px;
  }

  .wrapper #zayavka, .container-fluid #zayavka {
    padding: 0 !important;
    margin: 0 !important;
}

  #zayavka {
    background: var(--white);
  }

  .zayavka-container-accepted {
    padding: 32px 18px !important;
  }

}